# Facebook
FB_VERIFY_TOKEN=tu_token_secreto_para_verificacion
FB_PAGE_TOKEN=tu_page_access_token_de_facebook

# Twenty CRM
TWENTY_API_URL=https://twenty-testing-msnr.up.railway.app
TWENTY_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJlNjMxZGU0ZC1iMGQ0LTRhMWItOGNlYS1kMDhjNjMzODdlNGUiLCJ0eXBlIjoiQVBJX0tFWSIsIndvcmtzcGFjZUlkIjoiZTYzMWRlNGQtYjBkNC00YTFiLThjZWEtZDA4YzYzMzg3ZTRlIiwiaWF0IjoxNzczNzc0NzkyLCJleHAiOjQ5MjczNzQ3OTAsImp0aSI6ImY4MzU3MTZiLWZjMzMtNDNiMi05OGU2LTc2NjMzN2QwNzMzMCJ9.XXk9A2wp2gDtxIIMdk_7AQ-2QMbmS-3gJj9jCGq9q4I

# Puerto (Railway lo asigna automáticamente)
# PORT=3000
